{% extends 'enroll/base.html' %}
{% block content %}
<div class="col-sm-7 offset-1">
    <a href= "{%  url 'add_class' %}">add</a>
    <h4 class="text-center alert alert-info">List Class</h4>
    {% if class_list %}
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Class Name</th>
            <th scope="col">Actionss</th>

          </tr>
        </thead>
        <tbody>
           {% for cls in class_list %}
           <tr>
            <th scope="row">{{ cls.id }}</th>
            <td>{{ cls.class_name }}</td>
          
            <td>
            <a href="{% url 'update_class' cls.id %}" class="btn btn-warning btn-sm">Edit</a>
            <a href="{% url 'delete_class' cls.id %}" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete')"  >Delete</a>

           </td>
           </tr>
           {% endfor %}
        </tbody>
      </table>
    {% else %}
    <h4 class = "text-center alert alert-warning">No Records</h4>
    {% endif %}
</div>
</div>
{% endblock content %}

