<!DOCTYPE html>
{% load static %}

<html lang="en">
  {% include 'components/styles.html' %}
  {% include 'components/scripts.html' %}

  <!--begin::Body-->
  <body
    id="kt_body"
    class="header-fixed header-tablet-and-mobile-fixed toolbar-enabled toolbar-fixed aside-enabled aside-fixed"
    style="
      --kt-toolbar-height: 55px;
      --kt-toolbar-height-tablet-and-mobile: 55px;
    "
  >
    <!--begin::Main-->
    <!--begin::Root-->
    <div class="d-flex flex-column flex-root">
      <!--begin::Page-->
      <div class="page d-flex flex-row flex-column-fluid">
        <!--begin::Aside-->
        {% include 'components/sidebar.html' %}
        <!--end::Aside-->
        <div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">
          <!--begin::Wrapper-->
          {% include 'components/header.html' %} 
          {% include 'components/toast.html' %}

          {% block content %} {% endblock content %}
        </div>
      </div>
    </div>
    <!--end::Modals-->
  </body>
</html>
